.form-head{
    background: #fafafa;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    
}
.forum{
    padding: 20px;
    display: inline-block;
    height: 20px;
    //align-items: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.row{
    align-items: center;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
}
.topic-title{
    margin-left: 20px;
    font-family:  'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.topic-description{
    margin-left: 20px;
    //font-family:  'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    //font-variant: tabular-nums;
    //line-height: 1.5;
    //font-feature-settings: 'tnum';
    color: rgba(0, 0, 0, 0.65);
    //font-weight: 400;
}


