<h1>Create new topic</h1>
<div class="container">
    <form #DiscussForm="ngForm" (ngSubmit)="submit(DiscussForm.value)">
        <div class ="title">
            <label for="title"></label>
            <input [(ngModel)]="title" name = "title" id="title" class="input" placeholder="Enter Topic Title...." value="">
        </div>
        <div class = "description">
            <label for="description"></label>
            <input [(ngModel)]="description" name="description" id="description" class="text-field" placeholder="Enter Description...." value="">
        </div>
        <button type="submit" class="btn-submit">Submit</button>
    </form>
    <hr>
</div>
<app-discuss [formValues]="filledForm" ></app-discuss>
