<div class ="nav-bar-list">
    <div class= "nav-bar-left">
        <a [routerLink]="['/cards']" class="app-name"><img class="logo" src= "https://assets.leetcode.com/static_assets/public/webpack_bundles/images/logo-dark.e99485d9b.svg"></a>
        <a>Explore</a>
        <a>Problems</a>
        <a>Interview</a>
        <a>Contest</a>
        <a [routerLink]="['/discuss']">Discuss</a>
        <a class="store">Store</a>
    </div>
    <div class = "nav-bar-right">
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
        <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.userName}}</a>
        <a>Icon2</a>
        <a>Icon 3</a>
    </div>
</div>


