<div class ="nav-bar-list">
    <div class= "nav-bar-left">
        <a [routerLink]="['/cards']" class="app-name"><img class="logo" src= "https://assets.leetcode.com/static_assets/public/webpack_bundles/images/logo-dark.e99485d9b.svg"></a>
        <a>Explore</a>
        <a>Problems</a>
        <a>Interview</a>
        <a>Contest</a>
        <a href="/discuss">Discuss</a>
        <a class="store">Store</a>
    </div>
    <div class = "nav-bar-right">
        <a>Icon1</a>
        <a>Icon2</a>
        <a>Icon3</a>
    </div>
</div>


